body{
    background-color: #e6e6e6;
}
.countries-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

@media screen and (max-width: 490px){
    .countries-container{
        grid-template-columns: repeat(1, 1fr);
    }
}